body {
  line-height: 2;
  text-align: justify;
}

details > summary {
  padding: 2px 6px;
  background-color: #f0f8ff;
  border: none;
  box-shadow: 3px 3px 4px black;
}

details > p {
  border-radius: 0 0 0px 0px;
  background-color: #f0f8ff;
  padding: 10px 15px;
  margin: 0;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #b3dbff;
  border-radius: 0px;
  }

pre{
  background-color: #f7f3f3;
  padding: 10px 15px;
  border-radius: 0px;
  border-style: none;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #b3dbff;
  margin: 0;
}

blockquote{
  background-color: #ecf9ec;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #9fdf9f;
}

ul {
    background: #f0f8ff;
    padding: 0px 55px;
      border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #b3dbff;
  border-radius: 0px;
  margin: 0;
}

ul li{
  background-color: #f0f8ff;
  margin: 0;

}


